<body>
<div class="bgded" style="background-image:url('static/faqs5.jpg');"> 
<header>
<h2>FAQs About Autism or ASD</h2>
</header>   
<main>     
<article>       
<header><h4>What is Autism Spectrum Disorder (ASD)?</h4></header>       
<p>Autism is a complex developmental disability that affects communication, socialization and behavior. Autism is called a spectrum disorder because it is defined by a certain set of behaviors and affects individuals differently and by varying degrees.

Since the term was introduced in 1943 by Dr. Leo Kanner, the definition of Autism has been expanded. Autism Spectrum Disorder can include individuals who met Kanner’s classical criteria for autism as well as the following diagnoses and classifications:

Pervasive Developmental Disorder-Not Otherwise Specified (PDD): Refers to a collection of communication, socialization, and/or behavioral features associated with autism, but may not be varied enough or severe enough to meet criteria for autism.
Rett Syndrome: An Autism Spectrum Disorder that is genetic affecting only girls, and often includes regression, classic hand-wringing behavior, and may be accompanied by seizures.
Asperger’s Syndrome: Asperger’s is an Autism Spectrum Disorder that is defined by difficulties in communication and social development and by repetitive interests and behaviors. Unlike autism, people with Asperger’s have no significant delay in language and cognitive development.
Childhood Disintegrative Disorder: An Autism Spectrum Disorder that refers to individuals whose development appears normal for the first few months or years of life, but regresses with loss of skills, especially involving regression in speech.</p>     
</article>     
<article>       
<header><h4>Who is affected by ASD?</h4></header>
<p>ASD occurs in every racial, ethnic, geographic and socioeconomic group. ASD is four times more likely to occur in boys. In 2010, The Center for Disease Control reported that 1 in 68 children in the United States had ASD.</p></article>     
<article><header><h4>What causes ASD?</h4></header>
<p>At present, there is not a known single cause for autism. Researchers are investigating a number of areas including genetics, environmental factors, and the interaction of genetics and environment.</p></article>

<article><header><h4>What are the characteristics of ASD?</h4></header>

<p>While ASD is defined by a certain set of behaviors, an individual with autism can display any combination of the behaviors listed below with various degrees of severity. Two individuals with the same diagnosis can act completely differently from one another; no two people with ASD will have the same symptoms. Many of the behaviors that are exhibited also interfere with learning and result in a need for specialized, consistent attention and structure. Some behavioral characteristics of autism might include:

Delay or lack of verbal and nonverbal communication
Failure to develop peer relationships appropriate to developmental level
Impairment of multiple non verbal behaviors such as eye to eye gaze, facial expression, body posture, and gestures to regulate social interaction
Preference to be alone, difficulty interacting/socializing with others
Lack of social and/or emotional reciprocity
Impairment in the ability to initiate or sustain conversation
Lack of “play” or make believe play
Obsessive attachment to objects, persistent preoccupation with parts of objects
Spinning, rocking, hand flapping or twisting and/or other self stimulating behavior</p></article> 

<article><header><h4>How is ASD diagnosed?</h4></header>

<p>Autism is usually diagnosed during the early years of childhood. Diagnosis is based upon the criteria listed in the Diagnostic and Statistical Manual of Mental Disorders - Fourth Edition (DSM-IV-TR) which is the main diagnostic reference for mental health disorders in the United States. The diagnosis is typically based on clinical observation, caregiver report and history. Certain structured assessments that pull for characteristics typically associated with autism may assist in making the diagnosis. Presently, there is no specific lab test for ASD.</p></article> 

<article><header><h4>Are there any tests used to diagnose ASD?</h4></header>

<p>Currently there is not a medical test to diagnose autism. However, several behavioral and developmental screening and assessment tools may provide data helpful in making the clinical diagnosis of an ASD. Examples of some of these diagnostic tools are:

Autism Diagnosis Interview (ADI) is a comprehensive, structured interview conducted with the caregiver that focuses on 3 functional domains: language/communication, reciprocal social interactions and behavior.
Autism Diagnosis Observation Schedule (ADOS) consists of standard, semistructured activities that allow the examiner to observe the occurrence (or non occurrence) of behaviors that have been identified as important to the diagnosis of autism or other pervasive developmental disorders.
The Gilliam Autism Rating Scale (GARS) is a paper-and-pencil scale consisting of items describing the characteristics/ behaviors of autism, grouped into 3 categories: stereotyped behaviors, communication, and social interaction.
Modified Checklist for Autism in Toddlers (M-CHAT) is a parent completed questionnaire that consists of 23 yes/no items.
Screening Tool for Autism in Toddlers and Young Children (STAT) is an interactive tool that assesses key social and communicative behaviors including imitation, play, requesting, and directing attention.</p></article> 

<article><header><h4>What are the treatments for ASD?</h4></header>
<p>While there is no known medical cure for autism, it is treatable. Each individual should have a treatment program to meet his or her own needs. There are interventions that may improve functional outcome. Interventions include behavioral, developmental, educational, nutritional, medication, and other types. For more information regarding treatment options, visit the National Institute of Mental Health and Illness’s or Autism Speaks website, Treatment Options.</p></article> 

<article><header><h4>What is ABA?</h4></header>

<p>ABA is the science of applying learning principles to change behavior. Behaviors are defined in observable and measurable terms, and carefully analyzed to determine what triggers and maintains the behavior. Data is collected to determine if the behavior is changing over time. ABA currently has a strong research base of evidence of effectiveness for people with autism. Examples of ABA interventions include positive behavioral supports, reinforcement, shaping, fading and chaining behaviors.

Below are some approaches used in ABA therapy:

Discrete Trial Training (DTT) involves breaking skills into small steps using clear instruction about the desired behavior, teaching each step of the skill intensively until mastered, providing repetition, prompting the correct response and fading the prompts as soon as possible, and using positive reinforcements when responding correctly. Each step or skill is mastered before new concepts are presented.
Incidental Teaching evolved from the field of applied behavior analysis and has the same principals of learning as DTT. Teaching is done in a more natural environment, rather than sitting face to face with the child at a table in a clinical setting.
Verbal Behavior (VB) teaches language and communication by focusing on words that are most meaningful, in the natural environment.
Video Modeling uses predictable and repeated video presentations to target behaviors. Video modeling reduces the variations in model’s performance and can use both self-as-models and othersas-models methods.
Pivotal Response Training (PRT) targets skills that are important for many other skills. Play environments can be used to teach skills like turn-taking, communication, and language. This training is child directed; emphasis is also placed upon the role of parents as primary intervention agents. Positive Behavioral Support (PBS) has three key features: 1) behavioral assessment, comprehensive intervention, and lifestyle enhancement. Focus is on changing triggering events, teaching new skills that replace problem behaviors, eliminating or minimizing natural rewards for problem behavior, and maximizing clear rewards for appropriate behavior.</p></article> 

<article><header><h4>What is the Developmental, Individual Difference, Relationship- Based Model (DIR)?</h4></header>

<p>The DIR model is a relationship- based approach that builds on skills in the core processes of relating, attending, communicating, and thinking. The goal of the intervention is to help the child develop a sense of self as an intentional and interactive individual. One example of DIR is “Floortime”, where caregivers join in the child’s play. The adult works at the child’s developmental level to help him/her engage and interact with others.</p></article> 

<article><header><h4>Do people with ASD also have an Intellectual Disability (Mental Retardation)?</h4></header>

<p>It is estimated that approximately half of individuals with ASD may also have intellectual impairment. A diagnosis of intellectual impairment is based on three criteria: cognitive impairment, deficit in adaptive behavior, and onset prior to age 18. Sometimes, the behavior and communication difficulties of people with autism may make it challenging to formally assess intellectual skills and may result in underestimation of true potential.</p></article> 

<article><header><h4>What do I do if I think my child has ASD?</h4></header>

<p>Discuss your concern with your pediatrician or healthcare professional. Ask that developmental screening be provided. If the screening confirms concerns, request an evaluation by a developmental specialist. You can also refer to Autism Speaks First 100 Days Kit.

For more information visit: The American Academy of Pediatrics, Autism Speaks, Autism Society of America, Autism New Jersey, and The National Institute of Mental Health and Illness.</p></article> 

</main>
</body>